# Where to store the dump file, you probably don't need to change that
DUMP_FILE=./dump.sql
# Domain name or IP for the local DB
LOCAL_DB_HOST=localhost
# Port number for the local DB
LOCAL_DB_PORT=3306
# Schema name for the local DB
LOCAL_DB_SCHEMA=local_schema
# User name for the local DB
LOCAL_DB_USER=local_user
# Password for the local DB
LOCAL_DB_PASSWORD=local_password
# Domain name or IP for the SSH tunnel's server
REMOTE_HOST=remotedb.com
# User name for the SSH tunnel's server
REMOTE_USER=username
# Domain name or IP for the remote DB (from the SSH tunnel's server network)
REMOTE_DB_HOST=localhost
# Port number for the remote DB
REMOTE_DB_PORT=3306
# Schema name for the remote DB
REMOTE_DB_SCHEMA=remote_schema
# User name for the remote DB
REMOTE_DB_USER=remote_user
# Password for the remote DB
REMOTE_DB_PASSWORD=remote_password
# Exclude some tables from the dump
EXCLUDED_TABLES=(
table1
table2
...
)